@page
@model IndexModel
@{
    ViewData["Title"] = "Супер пиццерия";
    TimeSpan timeSpan = DateTime.Now - new DateTime(2023, 8, 20);
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в нашу пиццерию</h1>
    <p class="lead">Лучшая пицца в городе за последние 
        @Convert.ToInt32(timeSpan.TotalDays) дней!</p>
</div>
